@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --sans-font-noto: 'Noto Sans', sans-serif;
    --serif-font-noto: 'Noto Serif', serif;
    --sans-font-roboto: 'Roboto', sans-serif;
    --mobile-text-normal: 14px;
}

/* Custom Scroll Bar - Simplebar Config */
.simplebar-scrollbar::before {
    background-color: #f83b3b;
    width: 5px;
}

/* for ast(required fields in form) */
.ast::after{
    content: ' *';
    color: red;
}

@media screen and (max-width: 475px) {
    body {
        font-size: var(--mobile-text-normal)
    }

    .text-xheading {
        font-size: 24px;
    }

    .text-heading {
        font-size: 20px;
    }

    .text-subheading {
        font-size: 16px;
    }

    .text-normal {
        font-size: 14px;
    }

    .text-small {
        font-size: 12px;
    }

    .text-xsmall {
        font-size: 12px;
    }
}

